name: Deploy Node Docker App to EC2

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e

            cd ~/learn-ci-cd/learn-ci-cd-pipeline
            git pull origin master

            docker build -t my-node-app .

            docker stop my-node-app || true
            docker rm my-node-app || true

            docker run -d --restart always --name my-node-app -p 8000:8000 my-node-app

            docker ps
